.services-section{
    padding-bottom: 10rem;
}
.services-cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}
.services-card1{
    width: 40%;
    min-width: 23rem;
    height: 12rem;
    flex-grow: 1;
    flex-basis: 200;
    border: solid 0.2rem var(--bg-mode-primary);
    /* border: solid 0.2rem var(--color-dark-500); */
    border-radius: 1rem;
    /* background-color: var(--color-dark-500); */
    background-color: var(--bg-mode-primary);
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}
.services-card1:hover{
    background-color: var(--bg-mode-secondary);
    transform: translateY(1rem);
    /* background-color: var(--color-dark-200); */
    gap: 1.2rem;
}


.services-icon{
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    background-color: var(--bg-mode-secondary);
    /* background-color: var(--color-dark-100); */
  
    
  
    border-radius: 20%;
    color: var(--mode-text-100);
    /* color: var(--color-light-300); */
  
    transition: var(--transition);
  
  }
.services-card1:hover .icon{
    background-color: var(--color-primary1);
    color: var(--bg-mode-primary);
}
.services-tags{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mode-text-100);

}
@media screen and (max-width: 700px) {
    .services-card1{
        width: 80%;
        height: 10rem;
    }
}
