.faqs-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    margin-bottom: 10rem;
    gap: 2rem;

}
.faq-container{
    width: 35rem;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 200;
    gap: 0.5rem;
    padding: 1.7rem;
    background-color: var(--bg-mode-secondary);
    border: solid 0.2rem var(--bg-mode-primary);
    border-radius: 1.5rem;
    transition: var(--transition);
    cursor: pointer;
}
.faq-container:hover{
    background-color: var(--bg-mode-primary);
    border: solid 0.2rem var(--bg-mode-secondary);

    transform: translateY(0.4rem);
}
.faq-container:hover toggle-btn{
    background-color: transparent;
}
.faq-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
    font-size: 1.2rem;
}
.faq-question{
    font-size: 1.2rem;
}
.toggle-btn{
    font-size: 2rem;
    font-weight: 200;
    background-color: transparent;
    cursor: pointer;
    color: var(--mode-text-100);
    transition: var(--transition);

}
