.float-btn{
    width: 3.5rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary1);
    font-size: 3rem;
    border-radius: 1rem;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    color: var(--bg-mode-primary);
    box-shadow: 4px 8px 10px -3px rgba(0,0,0,0.3);
    transition: var(--transition);
}
.float-btn:hover{
    box-shadow: 4px 8px 10px -3px rgba(0,0,0,0);
    transform: translateY(0.6rem);


}
