
.carousel-root {
    width: 100% !important;
    height: auto;
    margin: auto !important;
    margin-top: 3% !important;
    
  }
  
  .carousel .slide {
    color: rgb(9, 0, 0);
    width: 100%;
    height: 100%;

  }
  
  .carousel .slide img {
    width: 139px !important;
    border-radius: 50%;
  }
  .carousel .control-dots .dot {
    box-shadow: none !important;
    background: var(--color-primary1) !important;
    outline: 1px solid var(--color-primary1);
    /* padding-left: 5px !important; */
    /* bottom: 5% !important; */
  }
  
  .carousel.carousel-slider .control-arrow {
    display: none;
    background: #000 !important;
    height: 50px !important;
    position: absolute;
    top: 35% !important;
  }
  
  @media only screen and (max-width: 934px) {
    .carousel-root {
      outline: 0;
      width: 93% !important;
      margin: auto !important;
    }
  
    .carousel.carousel-slider .control-arrow {
      display: none !important;
    }
/*     
    .carousel .slide img {
      width: 24% !important;
      border-radius: 50%;
    } */
  }  
.card-slider{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: auto;
    /* background-color: bisque; */
    
    padding: 50px;
}

.upper-line{
    width: 150px;
    height: 10px;
    background-color: var(--color-primary1);
    border-radius: 15px;
}
.testimonial-title{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-inline: auto;
    color: var(--mode-text-200);
}
.cards{
    width: 60%;
    height: auto;
    margin-inline: auto;
    
}

.faded-card{
    display: block;
    width: 250px;
    height:  400px;
    margin-inline: auto;
    /* background-color: var(--color-primary1); */
    
}
.current-card{
    display: block;
    width: 300px;
    height:  500px;
    margin-inline: auto;
    background-color: var(--color-primary1) !important;
}
@media screen and (max-width: 840px){
  .card-slider{
    padding: 20px;

  }
  .cards{
    width: 80%;
    height: auto;
    margin-inline: auto;
}
}

@media screen and (max-width: 414px){
  .card-slider{
    padding: 20px;
    padding-top: 5rem;

  }
  .cards{
    width: 100%;
    height: auto;
    margin-inline: auto;
}
}
