.section-container-abt{
    
/* height: auto; */
width: 100%;
}
.img-container2{
    padding-bottom: 0;
    margin-bottom: 0;
    /* display: block; */
    width: 100%;
    height: auto;
    /* object-fit: cover; */
    background-color: var(--bg-mode-secondary);

}
.img-container2 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
