.app{
  background-color: var(--bg-mode-secondary);

  /* background-color: var(--color-dark-100); */
  height: auto;
  font-size: 5rem;
  position: relative;
}
.section{
  width: 100%;
  height: auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: var(--mode-text-100);
}
.section-container{
  width: var(--container-width-lg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-inline: auto;
  font-size: 2rem;
  /* margin-top: 10rem; */
  gap: 5rem;
}
section:nth-child(even){
  background-color: var(--bg-mode-primary);
  /* background-color: var(--color-dark-200); */

  /* background: var(--primary-grad); */

}




