.app{
  background-color: var(--bg-mode-secondary);

  /* background-color: var(--color-dark-100); */
  height: auto;
  font-size: 1rem;
  position: relative;
}
.section{
  width: 100%;
  height: auto;
  padding-top: 10rem;
  /* padding-bottom: 10rem; */
  color: var(--mode-text-100);
}
.section-container{
  width: var(--container-width-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  font-size: 2rem;
  /* margin-top: 10rem; */
  /* gap: 5rem; */
}
.section-title{
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
section:nth-child(even){
  background-color: var(--bg-mode-primary);
  /* background-color: var(--color-dark-200); */

  /* background: var(--primary-grad); */

}




